@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import '@/app/ui/styles/_variables.scss';
@import '@/app/ui/styles/_keyframe-animations.scss';

body {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);
  font-family: 'Inter', sans-serif;
  color: var(--tt-theme-text);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  .dark & {
    --tt-theme-text: var(--tt-gray-dark-900);
  }
}

html,
body,
#root,
#app {
  height: 100%;
  background-color: var(--tt-bg-color);
}

.tiptap.ProseMirror {
  font-family: 'DM Sans', sans-serif;
  min-height: 100%;
}

/* Styles pour la scrollbar de la toolbar mobile */
[data-mobile='true'] {
  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 4px;
  }
}

.content-wrapper {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  position: relative;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  @media (min-width: 768px) {
    height: calc(100% - var(--tt-toolbar-height));
    padding-bottom: 0;

    &::-webkit-scrollbar {
      display: block;
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--tt-scrollbar-color);
      border-radius: 4px;
    }
  }
}

.simple-editor-content {
  width: 100%;
  margin: 0 auto;
}

.simple-editor-content .tiptap.ProseMirror {
  padding: 3rem 3rem;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror {
    padding: 1rem 1.5rem;
  }
}
